/* Services */

.services {
  padding: 12px 0;
}

.services__container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (width > 800px) {
  .services__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.services__title-list {
  margin: 0;
  margin-bottom: 10px;
}

.services__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services__title-list,
.services__list {
  font-size: 33px;
  font-weight: 100;
}

@media (width > 0) and (width <= 800px) {
  .services__title-list,
  .services__list {
    font-size: 23px;
  }
}

@media (width > 800px) {
  .services__title-list,
  .services__list {
    font-size: 33px;
  }
}

.services__item {
  padding: 5px 0;
}

@media (width > 0) and (width <= 800px) {
  .services__left {
    margin-bottom: 30px;
  }
}

.services__right-img {
  display: block;
}

@media (width > 0) and (width <= 800px) {
  .services__right-img {
    margin: 0 auto;
  }
}
