/* Top */

@media (width > 550px) and (width <= 800px) {
  .top {
    padding-top: 50px;
  }
}

@media (width > 800px) {
  .top {
    padding-top: 100px;
  }
}

.top__container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.top__logo {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.top__logo-img {
  display: block;
  width: 100%;
}

.top__text {
  margin: 0;
  font-size: 33px;
  font-style: italic;
  line-height: 1.2;
  text-indent: 20px;
}

@media (width <= 550px) {
  .top__text {
    font-size: 23px;
  }
}

@media (width > 550px) {
  .top__text {
    font-size: 33px;
  }
}

.top__contact {
  font-size: 22px;
}

.top__contact-link {
  color: inherit;
  text-decoration: none;
}
