.works__container {
  max-width: 1130;
  padding: 0 15px;
  margin: 0 auto;
}

.works__left {
  margin-bottom: 30px;
}

.works__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  /* ceursor: pointer; */
}

.works__or {
  font-size: 20px;
  text-align: center;
}

.works__subtitle {
  margin-bottom: 10px;
  font-size: 23px;
  font-style: italic;
  font-weight: 700;
}

.works__form {
  display: grid;
}

.works__form-input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  border: 3px solid var(--color-black);
}

.works__right{}

.works__right-img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
