/* Variables */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --basic-light: #e9eaeb;
  --color-shaft: #2d2d2d;
  --color-jagger: #3f0c57;



  --basic-dark: #273238;
  --basic-semi-light: #696969;
  --basic-neutral: #b1b3b6;
  --special-extra-dark: #386d9b;
  --special-dark: #3b84bb;
  --special-dark-10a: rgb(59 132 187 / 0.1);
  --special-semi-dark: #42a0da;
  --special-neutral: #61afb4;
  --special-semi-light: #81c36d;
  --special-light: #afe63a;
  --special-extra-light: #c6f523;
}
